<% @courses.select("DISTINCT(NAME)").where("name = 'first course'").each do |course|%>
  <h2><%= course.name + ":" %></h2>
  <% @dishes.where("course_name = 'first course'").each do |dish|%>
    <div class="dish-first">
      <div class="dish-name-first-course">
        <%= radio_button_tag 'dish-first', false %>
        <h4><%= dish.name + ":"%></h4>
        <h4><%= dish.price %></h4>
        <%= dish.description %>
        <%= form_with model: @order_item do |f| %>
          <%= f.hidden_field :dish_id, value: dish.id %>
          <%= f.submit "Create Order" %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>

<%= link_to "Close", dashboard_dir_path, id: "closeLink" %>
<script>
    $('#closeLink').click(function(e) {
        e.preventDefault();
        $(this).parent().html("");
    });
</script>
