<div class="mx-auto" style="width: 900px;">
      <div class="user-orders">
        <% if @current_user && @current_user.admin? %>
          Admin message: orders (order_id), making by users at <%= @day.weekday %>:
        <% @order_items.select("DISTINCT(ORDER_ID)").each do |i| %>
            <%= i.order_id.to_s %>
        <% end %>
         <h5>Total sum of orders at <%= @day.weekday %>: <%= @order_items.sum(:total) %>$</h5>
        <%= link_to "Add new dish", new_dish_path(id: @day) %>
        <% end %>
      </div>
</div>

<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-auto">
      <h5><%= link_to "Close", dashboard_dir_path, id: "closeLink" %>
      <%= link_to "Check your shopping cart", cart_path %></h5>
  <script>
      $('#closeLink').refresh().click(function(e) {
          e.preventDefault();
          $(this).parent().html("");
      });
  </script>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-sm">
      <% @courses.select("DISTINCT(NAME)").where("name = 'first course'").each do |course|%>
        <h2><%= course.name + ":" %></h2>
        <% @dishes.where("course_name = 'first course'").each do |dish|%>
          <div class="dish-first">
            <div class="dish-name-first-course">
              <h4><%= dish.name + ":"%></h4>
              <h4><%= dish.price %></h4>
              <%= dish.description %>
              <p><%= image_tag dish.image.url(:thumb), class: 'img-show' if dish.image? %></p>
              <% if @current_user && @current_user.admin? %>
              <p><%= link_to "Upload Photo", edit_dish_path(dish.id) %></p>
                <% end %>
              <%= form_with model: @order_item do |f| %>
                <%= f.hidden_field :dish_id, value: dish.id %>
                <%= f.hidden_field :user_id, value: session[:user_id] %>
                <%= f.hidden_field :day_id, value: @day.id %>
                <%= f.submit "Add to Order" %>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="col-sm">
      <% @courses.select("DISTINCT(NAME)").where("name = 'main course'").each do |course|%>
        <h2><%= course.name + ":" %></h2>
        <% @dishes.where("course_name = 'main course'").each do |dish|%>
          <div class="dish-main">
            <div class="dish-name-main-course">
              <h4><%= dish.name + ":"%></h4>
              <h4><%= dish.price %></h4>
              <%= dish.description %>
              <p><%= image_tag dish.image.url(:thumb), class: 'img-show' if dish.image? %></p>
              <% if @current_user && @current_user.admin? %>
              <p><%= link_to "Upload Photo", edit_dish_path(dish.id) %></p>
                <% end %>
              <%= form_with model: @order_item do |f| %>
                <%= f.hidden_field :dish_id, value: dish.id %>
                <%= f.hidden_field :user_id, value: session[:user_id] %>
                <%= f.hidden_field :day_id, value: @day.id %>
                <%= f.submit "Add to Order" %>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="col-sm">
      <% @courses.select("DISTINCT(NAME)").where("name = 'drink'").each do |course|%>
        <h2><%= course.name + ":" %></h2>
        <% @dishes.where("course_name = 'drink'").each do |dish|%>
          <div class="dish-drink">
            <div class="dish-name-drink">
              <h4><%= dish.name + ":"%></h4>
              <h4><%= dish.price %></h4>
              <%= dish.description %>
              <p><%= image_tag dish.image.url(:thumb), class: 'img-show' if dish.image? %></p>
              <% if @current_user && @current_user.admin? %>
              <p><%= link_to "Upload Photo", edit_dish_path(dish.id) %></p>
                <% end %>
              <%= form_with model: @order_item do |f| %>
                <%= f.hidden_field :dish_id, value: dish.id %>
                <%= f.hidden_field :user_id, value: session[:user_id] %>
                <%= f.hidden_field :day_id, value: @day.id %>
                <%= f.submit "Add to Order" %>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>


