<div class="edit">
  <div class="container">
    <div class="row">
      <div class="col-md-4 offset-md-4">
        <%= form_for @dish do |d| %>

          <div class="form-group">
            <%= d.text_field :name, :placeholder => "Dish Name", class: "form-control" %>
          </div>

          <div class="form-group">
            <%= d.text_field :description, :placeholder => "Description", class: "form-control" %>
          </div>

          <div class="form-group">
            <%= d.text_field :course_name, :placeholder => "Course name", class: "form-control" %>
          </div>

          <div class="form-group">
            <%= d.text_field :price, :placeholder => "Price", class: "form-control" %>
          </div>

          <div class="form-group">
            <%= d.file_field :image, :placeholder => "Choose Image", class: "form-control-file" %>
          </div>

          <div class="actions">
            <%= d.submit "Update", class: "btn btn-primary" %>
          </div>

        <% end %>

      </div>
    </div>
  </div>
</div>